/* Untuk Tablet */
/*CSS Responsive - Header*/

/*CSS Responsive - profil anggota */
@media all and (max-width: 1000px) {
  .anggota {
    width: 50%;
    margin-bottom: 50px;
  }
}

/*CSS Responsive - Kontak Form*/

/*CSS Responsive - Footer */

/* Untuk Smartphone */
/*CSS Responsive - Header*/

/*CSS Responsive - profil anggota */
@media all and (max-width: 670px) {
  .anggota {
    width: 100%;
  }
}

/*CSS Responsive - Kontak Form*/

/*CSS Responsive - Footer */
