/* Untuk Tablet */
/*CSS Responsive - Header*/

/*CSS Responsive - profil anggota */
@media all and (max-width: 1000px) {
  .anggota {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .top-wrapper h1 {
    font-size : 32px;
  }
}

/*CSS Responsive - Kontak Form*/

/*CSS Responsive - Footer */

/* Untuk Smartphone */
/*CSS Responsive - Header*/

/*CSS Responsive - profil anggota */
@media all and (max-width: 670px) {
  .anggota {
    width: 100%;
  }
  
  .top-wrapper {
    width: 100%;
    text-align : left;
  }
  
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
}
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

/*CSS Responsive - Kontak Form*/

/*CSS Responsive - Footer */
