body {
  margin: 0;
  font-family: "Lucida Grande";
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  padding: 100px 80px;
}

/*header*/
header {
  height: 65px;
  width: 100%;
  background-color: rgb(29, 139, 139, 0.9);
  position : fixed;
  top : 0;
  z-index : 10;
}

.logo {
  width: 220px;
  margin: 5px 30px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right : 30px;
}

.header-right li {
	float: left;
	list-style: none;
	margin-left: 20px;
}

.header-right li a {
	color: white;
	text-decoration: none;
	line-height: 32px;
  	margin-left: 10px;
 	display: block;
 	transition: all 0.5s;
 	font-size: 20px;
 	padding: 0 10px;
}

.header-right a:hover {
  background-color: white;
  color: rgb(29, 139, 139);
}

.top-wrapper {
  width : 100%;
  padding: 180px 0 100px 0;
  background-image: url("background_header.jpg");
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  margin-top: 30px;
  font-size: 25px;
}

/* content - profil anggota */
* {
  box-sizing: border-box;
}

.clear {
  clear: left;
}

.profil-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.anggota {
  float: left;
  width: 25%;
}

.anggota-icon {
  position: relative;
}

.anggota-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

/* contact form - kontak */
.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contact-form {
  padding-top: 100px;
}

input, textarea {
 padding: 20px;
 margin-bottom: 30px;
 margin-top: 10px;
 width: 400px;
 font-size: 18px;
 border: 1px solid #dee7ec;
}

.contact-submit {
  color: #889eab;
  background-color: #dee7ec;
}

/* extra page - gabung */
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* footer */
footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  font-size: 32px;
  float: left;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
  list-style: none;
}

